/* .css
    Author:         Elizabeth Rowe
    Date:           11-22-2023
    Last Revised:   11-26-2023
    Assignment:     Semester Project
    Purpose:        CSS Styling for Website
*/
/*Border and header*/
.top-border {
    background-color: #424E5F;
    width: 100%;
    height: 50px;
}
body {
    background-color: #424E5F;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #fff;
    height: 100px;
    display: flex; 
    justify-content: center;
    margin: 0;
    padding: 10px 0px;
}
header img  {
    width: 400px;
}
/*Navigation Bar*/
nav {
    background-color: #141C2B;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
nav a {
    color: white;
    font-size: x-large;
    text-decoration: none;
}
nav a:hover {
    color: #E32227; 
}
article {
    width: 70%;
    margin: auto;
    background-color: #FFF;
    padding: 5px;
}
.body {
    background-color: #424E5F;
    margin: 0px;
}
section h1 {
    font-size: 50px;
    color: #fff;
    text-align: center;
    background-color: #424E5F;
    margin-left: 20px;
    margin-right: 20px;
}
.heading1, .heading2 {
    color: #E32227;
    font-size: x-large;
}
.heading1 {
    text-align:left;
    margin-left: 40px;
    margin-top: 80px;
}
.wwa {
    margin-right: 20px;
}
.img-left { 
    display: block; 
    width: 400px; 
    float: left; 
    margin: 0px 20px 20px 20px;
} 
.wwd {
    margin-left: 20px;
}
.img-right { 
    display: block; 
    width: 400px; 
    float: right; 
    margin: 0px 20px 20px 20px;
} 
.heading2 {
    text-align: right;
    margin-top: 200px;
    margin-right: 40px;
}
.statement {
    color: #141C2B;
    text-align: center;
    margin-top: 150px;
}
.divider {
    background-color: #141C2B;
    width: 100%;
    height: 50px;
}
.mission {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.mission img {
    width: 250px;
    height: 250px;
    float: right;
}
.mission p {
    width: 400px;
    font-size: medium;
    padding-right: 100px;
}
.footer {
    background-color: #141C2B;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.footer p {
    color: white;
    text-align: center;
}
.footer p a {
    color: white;
    text-decoration: none;
    padding: 20px;
}
