/* .css
    Author:         Zach Farmer
    Date:           11/20/2023
    Last Revised:   11/20/2023
    Assignment:     Semester Project
    Purpose:        CSS Styling for Website
*/
body {
  background-color: #424E5F;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/*Border and header*/
.top-border {
  background-color: #424E5F;
  width: 100%;
  height: 50px;
}
body {
  background-color: #424E5F;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: #fff;
  height: 100px;
  display: flex; 
  justify-content: center;
  margin: 0;
  padding: 10px 0px;
}
header img  {
  width: 400px;
}
/*Navigation Bar*/
nav {
  background-color: #141C2B;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
nav a {
  color: white;
  font-size: x-large;
  text-decoration: none;
}
nav a:hover {
  color: #E32227; 
}
/*content portion*/
article section h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #fff;
  text-align: center;
  background-color: #424E5F;
  padding: 2px 0px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}
h2 {
  text-align: center;
  color: #E32227;
}
article {
  width: 70%;
  margin: auto;
  background-color: #FFF;
  padding: 5px;
}
.info {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
  margin-bottom: 40px;
  font-style: bold;
  font-size: larger;
}
/*mission statement part of the site*/
.divider {
  background-color: #141C2B;
  width: 100%;
  height: 50px;
}
.mission {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.mission img {
  width: 250px;
  height: 250px;
  float: right;
}
.mission p {
  width: 400px;
  font-size: medium;
  padding-right: 100px;
}
/*footer part of site*/
footer {
  background-color: #141C2B;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
footer p {
  color: white;
  text-align: center;
}
footer p a {
  color: white;
  text-decoration: none;
  padding: 20px;
}
