/* style.css
        Author:       Kyle Mazely
        Date:         2023-11-22
        Last Revised: 2023-11-22
        Assignment:   Project
        Description:  styling for Completed Projects page
*/
.top-border {
  background-color: #424E5F;
  width: 100%;
  height: 50px;
}
body {
  background-color: #424E5F;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: #fff;
  height: 100px;
  display: flex; 
  justify-content: center;
  margin: 0;
  padding: 10px 0px;
}
header img  {
  width: 400px;
}
nav {
  background-color: #141C2B;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
nav a {
  color: white;
  font-size: x-large;
  text-decoration: none;
}
nav a:hover {
  color: #E32227; 
}
article {
  width: 70%;
  margin: auto;
  background-color: #FFF;
  padding: 5px;
}
figure {
  float: left;
  margin-bottom: 20px;
  margin-top: 0px;
}
figure img {
  height: 200px;
  width: 300px;
  vertical-align: top;
  border: 4px solid #141C2B;
}
figure figcaption {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
article section {
  height: 300px;
}
article section h2 {
  text-align: center;
  color: #E32227;
}
article section p {
  margin: auto 20px;
  height: 250px;
  z-index: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  
}
article section p:active {
  background-color: #FFF;
  font-size: x-large;
  position: absolute;
  max-width: 850px;
  overflow: visible;
}
footer {
  background-color: #141C2B;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
footer p {
  color: white;
  text-align: center;
}
footer p a {
  color: white;
  text-decoration: none;
  padding: 20px;
}
