/* .css
    Author:         Kyoko Smith
    Date:           11-21-2023
    Last Revised:   11-21-2023
    Assignment:     Semester Project
    Purpose:        CSS Styling for Website
*/

.top-border {
    background-color: #424E5F;
    width: 100%;
    height: 50px;

}

.logo {
    width: 100%;
    height: 150px;

}